<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="../../modules/jquery.min.js"></script>
    <script>
        const jq = jQuery.noConflict();
    </script>
</head>
<body>
<div id="app">
    <div class="head">
        <div class="no-drag head-menu">
            <table class="menu-table">
                <tr>
                    <td>文件</td>
                    <td>编辑</td>
                </tr>
            </table>
        </div>
        <div class="btn-group">
            <div id="btn-close" class="btn-system">r</div>
        </div>
    </div>
    <div class="main"></div>
    <div class="footer"></div>
</div>
<script src="./js/index.js"></script>
</body>
</html>
